
body{
    display: flex;
    flex-direction: column;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.registration-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.registration-title{
    font-size: 48px;
    font-weight: 200;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 100%;
    margin-top: 32px;
}

.input-container{
    display: flex;
    gap: 32px;
}

input:not(input[type="radio"], input[type="checkbox"]){
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: #f0f0f0 !important;
    padding: 3px;
    font-size: 16px;
    width: 80%;
    transition: border-bottom .25s;
}

.gender-choose{
    border: none;
    outline: none;
    margin-top: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: #f0f0f0 !important;

}

option{
    cursor: pointer;
}

.submit-btn{
    border: none;
    outline: none;
    appearance: none;
    background-color: #D9D9D9;
    width: 260px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.recommendation a{
    text-decoration: underline;
}

.correct{
    border-bottom: 1px solid #32D23B !important;
}

.incorrect{
    border-bottom: 1px solid #C62121 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
}
.input-check-wrapper input{
    width: auto !important;
}

.input-check-wrapper{
    position: relative;
}

.input-check-wrapper:has(.incorrect)::before{
    border-color: #C62121;
    border-top-color: transparent;
}

.input-check-wrapper:has(.correct)::before{
    border-color: #32D23B;
    border-top-color: transparent;
}

.input-check-wrapper::before{
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    transition: .35s border-color, .45s opacity; 
}

.input-check-wrapper:has(.waiting)::before{
    content: "";
    opacity: 1;
    animation: rotating .4s infinite;
}
.input-check-wrapper::after{
    content: attr(data-error);
    position: absolute;
    width: max-content;
    padding-top: 5px;
    line-height: 1;
    height: 1em;
    right: 0;
    top: 0;
    opacity: 0;
    text-align: left;
    width: 100%;
    transform: translateY(calc(100% + 10px));
    font-weight: 400;
    font-size: 14px;
    color: #C62121;
    border-radius: 5px;
    transition: .25s;
}

.input-check-wrapper:has(.incorrect)::after{
    opacity: 1;
}

@keyframes rotating{
    0%{
        transform: translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateY(-50%) rotate(360deg);
    }
}