
body{
    display: flex;
    flex-direction: column;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.registration-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.registration-title{
    font-size: 48px;
    font-weight: 200;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 100%;
    margin-top: 32px;
}

.input-container{
    display: flex;
    gap: 32px;
}

input:not(input[type="radio"], input[type="checkbox"]){
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: #f0f0f0 !important;
    padding: 3px;
    font-size: 16px;
    width: 80%;
    transition: border-bottom .25s;
}

.gender-choose{
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: #f0f0f0 !important;

}

option{
    cursor: pointer;
}

.submit-btn{
    border: none;
    outline: none;
    appearance: none;
    background-color: #D9D9D9;
    width: 260px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.recommendation a{
    text-decoration: underline;
}

.correct{
    border-bottom: 1px solid #32D23B !important;
}

.incorrect{
    border-bottom: 1px solid #C62121 !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
}